# Match analysis
## Database
- database 1: https://sports-statistics.com/sports-data/nba-basketball-datasets-csv-files/
- database 2: https://www.basketball-reference.com/

## Input 
- data/2019-20_pbp.csv

## Aims
1. split the whole records into individual matches
2. analyze the moves per team

## Output
1. matches/1-1143.csv
2. intensity.csv

In [1]:
import pandas as pd
import numpy as np
import copy

Check the data:

In [2]:
data_pbp = pd.read_csv('data/2019-20_pbp.csv')
display(data_pbp, data_pbp.columns)

,URL,GameType,Location,Date,Time,WinningTeam,Quarter,SecLeft,AwayTeam,AwayPlay,...,EnterGame,LeaveGame,TurnoverPlayer,TurnoverType,TurnoverCause,TurnoverCauser,JumpballAwayPlayer,JumpballHomePlayer,JumpballPoss,Unnamed: 40
0,/boxscores/201910220TOR.html,regular,Scotiabank Arena Toronto Canada,October 22 2019,8:00 PM,TOR,1,720,NOP,Jump ball: D. Favors vs. M. Gasol (L. Ball gai...,...,NaN,NaN,NaN,NaN,NaN,NaN,D. Favors - favorde01,M. Gasol - gasolma01,L. Ball - balllo01,NaN
1,/boxscores/201910220TOR.html,regular,Scotiabank Arena Toronto Canada,October 22 2019,8:00 PM,TOR,1,708,NOP,L. Ball misses 2-pt jump shot from 11 ft,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,/boxscores/201910220TOR.html,regular,Scotiabank Arena Toronto Canada,October 22 2019,8:00 PM,TOR,1,707,NOP,Offensive rebound by D. Favors,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/boxscores/201910220TOR.html,regular,Scotiabank Arena Toronto Canada,October 22 2019,8:00 PM,TOR,1,707,NOP,D. Favors makes 2-pt layup at rim,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,/boxscores/201910220TOR.html,regular,Scotiabank Arena Toronto Canada,October 22 2019,8:00 PM,TOR,1,689,NOP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539260,/boxscores/202010110MIA.html,playoff,The Arena Bay Lake Florida,October 11 2020,7:30 PM,LAL,4,29,LAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539261,/boxscores/202010110MIA.html,playoff,The Arena Bay Lake Florida,October 11 2020,7:30 PM,LAL,4,20,LAL,D. Howard makes 3-pt jump shot from 30 ft (ass...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539262,/boxscores/202010110MIA.html,playoff,The Arena Bay Lake Florida,October 11 2020,7:30 PM,LAL,4,15,LAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539263,/boxscores/202010110MIA.html,playoff,The Arena Bay Lake Florida,October 11 2020,7:30 PM,LAL,4,0,LAL,End of 4th quarter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539264,/boxscores/202010110MIA.html,playoff,The Arena Bay Lake Florida,October 11 2020,7:30 PM,LAL,4,0,LAL,End of Game,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['URL', 'GameType', 'Location', 'Date', 'Time', 'WinningTeam', 'Quarter',
       'SecLeft', 'AwayTeam', 'AwayPlay', 'AwayScore', 'HomeTeam', 'HomePlay',
       'HomeScore', 'Shooter', 'ShotType', 'ShotOutcome', 'ShotDist',
       'Assister', 'Blocker', 'FoulType', 'Fouler', 'Fouled', 'Rebounder',
       'ReboundType', 'ViolationPlayer', 'ViolationType', 'TimeoutTeam',
       'FreeThrowShooter', 'FreeThrowOutcome', 'FreeThrowNum', 'EnterGame',
       'LeaveGame', 'TurnoverPlayer', 'TurnoverType', 'TurnoverCause',
       'TurnoverCauser', 'JumpballAwayPlayer', 'JumpballHomePlayer',
       'JumpballPoss', 'Unnamed: 40'],
      dtype='object')

The number of matches:

In [3]:
print(np.sum(data_pbp['AwayPlay'].values=='End of Game'))
print(np.sum(data_pbp['HomePlay'].values=='End of Game'))

1143
0

The end signs are recorded in 'AwayPlay'

To split the whole records into individual matches:

In [4]:
ends = np.where(data_pbp['AwayPlay'].values=='End of Game')
display(ends)

(array([   564,   1025,   1515, ..., 538384, 538822, 539264], dtype=int64),)

In [5]:
start = 0
game = 1
for end in ends[0]:
    df_m = data_pbp.iloc[start:end+1]
    df_m.to_csv('data/matches/'+str(game)+'.csv')
    start = end+1
    game += 1

compute the sum of mones per team:

In [6]:
intensity_dict = {}
for i in range(1, 1144):
    df_match = pd.read_csv('data/matches/'+str(i)+'.csv')
    team_away = df_match.loc[0]['AwayTeam']
    team_home = df_match.loc[0]['HomeTeam']
    if team_away not in intensity_dict:
        intensity_dict[team_away]={'move': 0, 'sum': 0,\
                                  'move_q1': 0,\
                                  'move_q2': 0,\
                                  'move_q3': 0,\
                                  'move_q4': 0,\
                                  'move_q5': 0,\
                                  'move_q6': 0}
    if team_home not in intensity_dict:
        intensity_dict[team_home]={'move': 0, 'sum': 0,\
                                  'move_q1': 0,\
                                  'move_q2': 0,\
                                  'move_q3': 0,\
                                  'move_q4': 0,\
                                  'move_q5': 0,\
                                  'move_q6': 0}
    
    intensity_dict[team_away]['sum']+=1
    intensity_dict[team_home]['sum']+=1
    
    for index, row in df_match.iterrows():
        if pd.isnull(row['AwayPlay']) == False and \
        row['AwayPlay'].split()[0]+row['AwayPlay'].split()[1] == 'Jumpball:':
#             print(row['AwayPlay'])
            continue
        if pd.isnull(row['AwayPlay']) == False and \
        row['AwayPlay'].split()[0] == 'End':
#             print(row['AwayPlay'])
            continue
        if pd.isnull(row['AwayPlay']) == False:
            intensity_dict[team_away]['move']+=1
            mqstr = 'move_q'+str(row['Quarter'])
            intensity_dict[team_away][mqstr]+=1
            continue
        if pd.isnull(row['HomePlay']) == False:
            intensity_dict[team_home]['move']+=1
            mqstr = 'move_q'+str(row['Quarter'])
            intensity_dict[team_home][mqstr]+=1
            continue

In [18]:
display(intensity_dict)

{'NOP': {'move': 17055,
  'sum': 72,
  'move_q1': 4034,
  'move_q2': 4346,
  'move_q3': 4215,
  'move_q4': 4282,
  'move_q5': 178,
  'move_q6': 0},
 'TOR': {'move': 18890,
  'sum': 83,
  'move_q1': 4514,
  'move_q2': 4808,
  'move_q3': 4556,
  'move_q4': 4888,
  'move_q5': 96,
  'move_q6': 28},
 'LAL': {'move': 21564,
  'sum': 92,
  'move_q1': 5209,
  'move_q2': 5665,
  'move_q3': 5246,
  'move_q4': 5395,
  'move_q5': 49,
  'move_q6': 0},
 'LAC': {'move': 20422,
  'sum': 85,
  'move_q1': 4791,
  'move_q2': 5352,
  'move_q3': 4993,
  'move_q4': 5153,
  'move_q5': 104,
  'move_q6': 29},
 'CHI': {'move': 14712,
  'sum': 65,
  'move_q1': 3457,
  'move_q2': 3721,
  'move_q3': 3581,
  'move_q4': 3901,
  'move_q5': 52,
  'move_q6': 0},
 'CHO': {'move': 14753,
  'sum': 65,
  'move_q1': 3519,
  'move_q2': 3780,
  'move_q3': 3571,
  'move_q4': 3726,
  'move_q5': 138,
  'move_q6': 19},
 'DET': {'move': 14873,
  'sum': 66,
  'move_q1': 3535,
  'move_q2': 3807,
  'move_q3': 3639,
  'move_q4': 3786,
  'move_q5': 106,
  'move_q6': 0},
 'IND': {'move': 16857,
  'sum': 77,
  'move_q1': 3988,
  'move_q2': 4280,
  'move_q3': 4146,
  'move_q4': 4338,
  'move_q5': 105,
  'move_q6': 0},
 'CLE': {'move': 14710,
  'sum': 65,
  'move_q1': 3592,
  'move_q2': 3692,
  'move_q3': 3599,
  'move_q4': 3691,
  'move_q5': 136,
  'move_q6': 0},
 'ORL': {'move': 17735,
  'sum': 78,
  'move_q1': 4228,
  'move_q2': 4570,
  'move_q3': 4366,
  'move_q4': 4517,
  'move_q5': 54,
  'move_q6': 0},
 'MIN': {'move': 15526,
  'sum': 64,
  'move_q1': 3678,
  'move_q2': 3905,
  'move_q3': 3739,
  'move_q4': 3999,
  'move_q5': 184,
  'move_q6': 21},
 'BRK': {'move': 18285,
  'sum': 76,
  'move_q1': 4254,
  'move_q2': 4511,
  'move_q3': 4595,
  'move_q4': 4728,
  'move_q5': 197,
  'move_q6': 0},
 'MEM': {'move': 17585,
  'sum': 74,
  'move_q1': 4184,
  'move_q2': 4514,
  'move_q3': 4274,
  'move_q4': 4563,
  'move_q5': 50,
  'move_q6': 0},
 'MIA': {'move': 21609,
  'sum': 94,
  'move_q1': 5037,
  'move_q2': 5514,
  'move_q3': 5308,
  'move_q4': 5402,
  'move_q5': 348,
  'move_q6': 0},
 'BOS': {'move': 20697,
  'sum': 89,
  'move_q1': 4878,
  'move_q2': 5245,
  'move_q3': 4987,
  'move_q4': 5364,
  'move_q5': 177,
  'move_q6': 46},
 'PHI': {'move': 18018,
  'sum': 77,
  'move_q1': 4461,
  'move_q2': 4468,
  'move_q3': 4389,
  'move_q4': 4647,
  'move_q5': 53,
  'move_q6': 0},
 'WAS': {'move': 16609,
  'sum': 72,
  'move_q1': 4057,
  'move_q2': 4216,
  'move_q3': 4120,
  'move_q4': 4140,
  'move_q5': 76,
  'move_q6': 0},
 'DAL': {'move': 19148,
  'sum': 81,
  'move_q1': 4687,
  'move_q2': 4877,
  'move_q3': 4555,
  'move_q4': 4812,
  'move_q5': 217,
  'move_q6': 0},
 'NYK': {'move': 15542,
  'sum': 66,
  'move_q1': 3782,
  'move_q2': 3881,
  'move_q3': 3773,
  'move_q4': 3974,
  'move_q5': 109,
  'move_q6': 23},
 'SAS': {'move': 16397,
  'sum': 71,
  'move_q1': 3803,
  'move_q2': 4092,
  'move_q3': 4144,
  'move_q4': 4180,
  'move_q5': 153,
  'move_q6': 25},
 'OKC': {'move': 18436,
  'sum': 79,
  'move_q1': 4443,
  'move_q2': 4640,
  'move_q3': 4432,
  'move_q4': 4730,
  'move_q5': 191,
  'move_q6': 0},
 'UTA': {'move': 18093,
  'sum': 79,
  'move_q1': 4184,
  'move_q2': 4580,
  'move_q3': 4402,
  'move_q4': 4814,
  'move_q5': 83,
  'move_q6': 30},
 'SAC': {'move': 16213,
  'sum': 72,
  'move_q1': 3743,
  'move_q2': 4064,
  'move_q3': 3984,
  'move_q4': 4245,
  'move_q5': 154,
  'move_q6': 23},
 'PHO': {'move': 16918,
  'sum': 73,
  'move_q1': 3943,
  'move_q2': 4256,
  'move_q3': 4215,
  'move_q4': 4428,
  'move_q5': 76,
  'move_q6': 0},
 'DEN': {'move': 20818,
  'sum': 92,
  'move_q1': 4783,
  'move_q2': 5277,
  'move_q3': 5040,
  'move_q4': 5442,
  'move_q5': 243,
  'move_q6': 33},
 'POR': {'move': 18254,
  'sum': 80,
  'move_q1': 4464,
  'move_q2': 4644,
  'move_q3': 4444,
  'move_q4': 4616,
  'move_q5': 86,
  'move_q6': 0},
 'ATL': {'move': 16228,
  'sum': 67,
  'move_q1': 3736,
  'move_q2': 4145,
  'move_q3': 4008,
  'move_q4': 4144,
  'move_q5': 138,
  'move_q6': 57},
 'MIL': {'move': 21007,
  'sum': 83,
  'move_q1': 4941,
  'move_q2': 5315,
  'move_q3': 5214,
  'move_q4': 5416,
  'move_q5': 121,
  'move_q6': 0},
 'HOU': {'move': 19484,
  'sum': 84,
  'move_q1': 4683,
  'move_q2': 4921,
  'move_q3': 4796,
  'move_q4': 4950,
  'move_q5': 93,
  'move_q6': 41},
 'GSW': {'move': 15015,
  'sum': 65,
  'move_q1': 3539,
  'move_q2': 3834,
  'move_q3': 3666,
  'move_q4': 3852,
  'move_q5': 124,
  'move_q6': 0}}

Compute the average move:

In [19]:
intensity_dict_m = copy.deepcopy(intensity_dict)

In [20]:
for team in intensity_dict_m:
    intensity_dict_m[team].pop('move_q5', None)
    intensity_dict_m[team].pop('move_q6', None)
    intensity_dict_m[team]['team'] = team
    intensity_dict_m[team]['move'] = intensity_dict_m[team]['move']/intensity_dict_m[team]['sum']
    intensity_dict_m[team]['move_q1'] = intensity_dict_m[team]['move_q1']/intensity_dict_m[team]['sum']
    intensity_dict_m[team]['move_q2'] = intensity_dict_m[team]['move_q2']/intensity_dict_m[team]['sum']
    intensity_dict_m[team]['move_q3'] = intensity_dict_m[team]['move_q3']/intensity_dict_m[team]['sum']
    intensity_dict_m[team]['move_q4'] = intensity_dict_m[team]['move_q4']/intensity_dict_m[team]['sum']

In [21]:
display(intensity_dict_m)

{'NOP': {'move': 236.875,
  'sum': 72,
  'move_q1': 56.02777777777778,
  'move_q2': 60.361111111111114,
  'move_q3': 58.541666666666664,
  'move_q4': 59.47222222222222,
  'team': 'NOP'},
 'TOR': {'move': 227.59036144578315,
  'sum': 83,
  'move_q1': 54.3855421686747,
  'move_q2': 57.9277108433735,
  'move_q3': 54.89156626506024,
  'move_q4': 58.89156626506024,
  'team': 'TOR'},
 'LAL': {'move': 234.3913043478261,
  'sum': 92,
  'move_q1': 56.619565217391305,
  'move_q2': 61.57608695652174,
  'move_q3': 57.02173913043478,
  'move_q4': 58.641304347826086,
  'team': 'LAL'},
 'LAC': {'move': 240.25882352941176,
  'sum': 85,
  'move_q1': 56.36470588235294,
  'move_q2': 62.96470588235294,
  'move_q3': 58.741176470588236,
  'move_q4': 60.62352941176471,
  'team': 'LAC'},
 'CHI': {'move': 226.33846153846153,
  'sum': 65,
  'move_q1': 53.184615384615384,
  'move_q2': 57.246153846153845,
  'move_q3': 55.09230769230769,
  'move_q4': 60.01538461538462,
  'team': 'CHI'},
 'CHO': {'move': 226.96923076923076,
  'sum': 65,
  'move_q1': 54.13846153846154,
  'move_q2': 58.15384615384615,
  'move_q3': 54.93846153846154,
  'move_q4': 57.323076923076925,
  'team': 'CHO'},
 'DET': {'move': 225.34848484848484,
  'sum': 66,
  'move_q1': 53.56060606060606,
  'move_q2': 57.68181818181818,
  'move_q3': 55.13636363636363,
  'move_q4': 57.36363636363637,
  'team': 'DET'},
 'IND': {'move': 218.92207792207793,
  'sum': 77,
  'move_q1': 51.79220779220779,
  'move_q2': 55.58441558441559,
  'move_q3': 53.84415584415584,
  'move_q4': 56.33766233766234,
  'team': 'IND'},
 'CLE': {'move': 226.30769230769232,
  'sum': 65,
  'move_q1': 55.261538461538464,
  'move_q2': 56.8,
  'move_q3': 55.36923076923077,
  'move_q4': 56.784615384615385,
  'team': 'CLE'},
 'ORL': {'move': 227.37179487179486,
  'sum': 78,
  'move_q1': 54.205128205128204,
  'move_q2': 58.58974358974359,
  'move_q3': 55.97435897435897,
  'move_q4': 57.91025641025641,
  'team': 'ORL'},
 'MIN': {'move': 242.59375,
  'sum': 64,
  'move_q1': 57.46875,
  'move_q2': 61.015625,
  'move_q3': 58.421875,
  'move_q4': 62.484375,
  'team': 'MIN'},
 'BRK': {'move': 240.5921052631579,
  'sum': 76,
  'move_q1': 55.973684210526315,
  'move_q2': 59.35526315789474,
  'move_q3': 60.46052631578947,
  'move_q4': 62.21052631578947,
  'team': 'BRK'},
 'MEM': {'move': 237.63513513513513,
  'sum': 74,
  'move_q1': 56.54054054054054,
  'move_q2': 61.0,
  'move_q3': 57.75675675675676,
  'move_q4': 61.66216216216216,
  'team': 'MEM'},
 'MIA': {'move': 229.88297872340425,
  'sum': 94,
  'move_q1': 53.58510638297872,
  'move_q2': 58.659574468085104,
  'move_q3': 56.46808510638298,
  'move_q4': 57.46808510638298,
  'team': 'MIA'},
 'BOS': {'move': 232.5505617977528,
  'sum': 89,
  'move_q1': 54.80898876404494,
  'move_q2': 58.93258426966292,
  'move_q3': 56.03370786516854,
  'move_q4': 60.26966292134831,
  'team': 'BOS'},
 'PHI': {'move': 234.0,
  'sum': 77,
  'move_q1': 57.935064935064936,
  'move_q2': 58.02597402597402,
  'move_q3': 57.0,
  'move_q4': 60.35064935064935,
  'team': 'PHI'},
 'WAS': {'move': 230.68055555555554,
  'sum': 72,
  'move_q1': 56.34722222222222,
  'move_q2': 58.55555555555556,
  'move_q3': 57.22222222222222,
  'move_q4': 57.5,
  'team': 'WAS'},
 'DAL': {'move': 236.39506172839506,
  'sum': 81,
  'move_q1': 57.864197530864196,
  'move_q2': 60.20987654320987,
  'move_q3': 56.23456790123457,
  'move_q4': 59.407407407407405,
  'team': 'DAL'},
 'NYK': {'move': 235.4848484848485,
  'sum': 66,
  'move_q1': 57.303030303030305,
  'move_q2': 58.803030303030305,
  'move_q3': 57.166666666666664,
  'move_q4': 60.21212121212121,
  'team': 'NYK'},
 'SAS': {'move': 230.94366197183098,
  'sum': 71,
  'move_q1': 53.563380281690144,
  'move_q2': 57.63380281690141,
  'move_q3': 58.36619718309859,
  'move_q4': 58.87323943661972,
  'team': 'SAS'},
 'OKC': {'move': 233.36708860759492,
  'sum': 79,
  'move_q1': 56.24050632911393,
  'move_q2': 58.734177215189874,
  'move_q3': 56.10126582278481,
  'move_q4': 59.87341772151899,
  'team': 'OKC'},
 'UTA': {'move': 229.0253164556962,
  'sum': 79,
  'move_q1': 52.962025316455694,
  'move_q2': 57.9746835443038,
  'move_q3': 55.721518987341774,
  'move_q4': 60.936708860759495,
  'team': 'UTA'},
 'SAC': {'move': 225.18055555555554,
  'sum': 72,
  'move_q1': 51.986111111111114,
  'move_q2': 56.44444444444444,
  'move_q3': 55.333333333333336,
  'move_q4': 58.958333333333336,
  'team': 'SAC'},
 'PHO': {'move': 231.75342465753425,
  'sum': 73,
  'move_q1': 54.013698630136986,
  'move_q2': 58.3013698630137,
  'move_q3': 57.73972602739726,
  'move_q4': 60.657534246575345,
  'team': 'PHO'},
 'DEN': {'move': 226.2826086956522,
  'sum': 92,
  'move_q1': 51.98913043478261,
  'move_q2': 57.358695652173914,
  'move_q3': 54.78260869565217,
  'move_q4': 59.15217391304348,
  'team': 'DEN'},
 'POR': {'move': 228.175,
  'sum': 80,
  'move_q1': 55.8,
  'move_q2': 58.05,
  'move_q3': 55.55,
  'move_q4': 57.7,
  'team': 'POR'},
 'ATL': {'move': 242.2089552238806,
  'sum': 67,
  'move_q1': 55.76119402985075,
  'move_q2': 61.865671641791046,
  'move_q3': 59.82089552238806,
  'move_q4': 61.850746268656714,
  'team': 'ATL'},
 'MIL': {'move': 253.09638554216866,
  'sum': 83,
  'move_q1': 59.53012048192771,
  'move_q2': 64.03614457831326,
  'move_q3': 62.81927710843374,
  'move_q4': 65.25301204819277,
  'team': 'MIL'},
 'HOU': {'move': 231.95238095238096,
  'sum': 84,
  'move_q1': 55.75,
  'move_q2': 58.583333333333336,
  'move_q3': 57.095238095238095,
  'move_q4': 58.92857142857143,
  'team': 'HOU'},
 'GSW': {'move': 231.0,
  'sum': 65,
  'move_q1': 54.44615384615385,
  'move_q2': 58.98461538461538,
  'move_q3': 56.4,
  'move_q4': 59.261538461538464,
  'team': 'GSW'}}

create DataFrame:

In [22]:
for key in intensity_dict_m['CLE']:
    print(key)

move
sum
move_q1
move_q2
move_q3
move_q4
team

In [23]:
df_inten = pd.DataFrame(columns=['team', 'move', 'move_q1', 'move_q2', 'move_q3', 'move_q4', ])
for team in intensity_dict_m:
    df_inten = df_inten.append(intensity_dict_m[team], ignore_index=True)

remove the value of the minimum move (to show the results better)

In [24]:
# np.max(df_inten['make'].values)
df_inten = df_inten.drop(columns='sum')
for i in df_inten.columns:
    if i == 'team':
        continue
    else:
        df_inten[i] = df_inten[i].values-np.min(df_inten[i].values)

In [25]:
display(df_inten)

   team       move   move_q1   move_q2   move_q3   move_q4
0   NOP  17.952922  4.235570  4.776696  4.697511  3.134560
1   TOR   8.668284  2.593334  2.343295  1.047410  2.553904
2   LAL  15.469226  4.827357  5.991671  3.177583  2.303642
3   LAC  21.336746  4.572498  7.380290  4.897021  4.285867
4   CHI   7.416384  1.392408  1.661738  1.248152  3.677722
5   CHO   8.047153  2.346254  2.569431  1.094306  0.985415
6   DET   6.426407  1.768398  2.097403  1.292208  1.025974
7   IND   0.000000  0.000000  0.000000  0.000000  0.000000
8   CLE   7.385614  3.469331  1.215584  1.525075  0.446953
9   ORL   8.449717  2.412920  3.005328  2.130203  1.572594
10  MIN  23.671672  5.676542  5.431209  4.577719  6.146713
11  BRK  21.670027  4.181476  3.770848  6.616370  5.872864
12  MEM  18.713057  4.748333  5.415584  3.912601  5.324500
13  MIA  10.960901  1.792899  3.075159  2.623929  1.130423
14  BOS  13.628484  3.016781  3.348169  2.189552  3.932001
15  PHI  15.077922  6.142857  2.441558  3.155844  4.012987
16  WAS  11.758478  4.555014  2.971140  3.378066  1.162338
17  DAL  17.472984  6.071990  4.625461  2.390412  3.069745
18  NYK  16.562771  5.510823  3.218615  3.322511  3.874459
19  SAS  12.021584  1.771172  2.049387  4.522041  2.535577
20  OKC  14.445011  4.448299  3.149762  2.257110  3.535755
21  UTA  10.103239  1.169818  2.390268  1.877363  4.599047
22  SAC   6.258478  0.193903  0.860029  1.489177  2.620671
23  PHO  12.831347  2.221491  2.716954  3.895570  4.319872
24  DEN   7.360531  0.196923  1.774280  0.938453  2.814512
25  POR   9.252922  4.007792  2.465584  1.705844  1.362338
26  ATL  23.286877  3.968986  6.281256  5.976740  5.513084
27  MIL  34.174308  7.737913  8.451729  8.975121  8.915350
28  HOU  13.030303  3.957792  2.998918  3.251082  2.590909
29  GSW  12.077922  2.653946  3.400200  2.555844  2.923876

In [27]:
df_inten.to_csv('data/intensity.csv')