In [1]:
import numpy as np
import pandas as pd

In [3]:
data_pbp = pd.read_csv('data/2019-20_pbp.csv')
data_pbp.columns

Index(['URL', 'GameType', 'Location', 'Date', 'Time', 'WinningTeam', 'Quarter',
       'SecLeft', 'AwayTeam', 'AwayPlay', 'AwayScore', 'HomeTeam', 'HomePlay',
       'HomeScore', 'Shooter', 'ShotType', 'ShotOutcome', 'ShotDist',
       'Assister', 'Blocker', 'FoulType', 'Fouler', 'Fouled', 'Rebounder',
       'ReboundType', 'ViolationPlayer', 'ViolationType', 'TimeoutTeam',
       'FreeThrowShooter', 'FreeThrowOutcome', 'FreeThrowNum', 'EnterGame',
       'LeaveGame', 'TurnoverPlayer', 'TurnoverType', 'TurnoverCause',
       'TurnoverCauser', 'JumpballAwayPlayer', 'JumpballHomePlayer',
       'JumpballPoss', 'Unnamed: 40'],
      dtype='object')

In [8]:
shot_type_dict = {}
for index, row in data_pbp.iterrows():
    if not pd.isnull(row['ShotType']):
        if not row['ShotType'] in shot_type_dict:
            shot_type_dict[row['ShotType']]=[0, 0]
        if row['ShotOutcome'] == 'make':
            shot_type_dict[row['ShotType']][0]+=1
        if row['ShotOutcome'] == 'miss':
            shot_type_dict[row['ShotType']][1]+=1

In [9]:
shot_type_dict

{'2-pt jump shot': [21519, 29558],
 '2-pt layup': [30200, 25162],
 '3-pt jump shot': [28061, 50283],
 '2-pt hook shot': [2787, 3087],
 '2-pt dunk': [10512, 1228]}

In [30]:
df_shot = pd.DataFrame(columns=['type', 'make', 'miss', 'sum'])

In [35]:
for i in shot_type_dict:
#     df_shot.append(pd.Series([i, shot_type_dict[i][0], shot_type_dict[i][1], 
#                     shot_type_dict[i][0]+shot_type_dict[i][1]]), ignore_index=True)
#     print(pd.DataFrame([i, shot_type_dict[i][0], shot_type_dict[i][1], 
#                     shot_type_dict[i][0]+shot_type_dict[i][1]]).T)
    new_row = {'type': i, 'make': shot_type_dict[i][0], 'miss': shot_type_dict[i][1], \
              'sum': shot_type_dict[i][0]+shot_type_dict[i][1]}
    df_shot = df_shot.append(new_row, ignore_index=True)

In [36]:
df_shot

             type   make   miss    sum
0  2-pt jump shot  21519  29558  51077
1      2-pt layup  30200  25162  55362
2  3-pt jump shot  28061  50283  78344
3  2-pt hook shot   2787   3087   5874
4       2-pt dunk  10512   1228  11740

In [39]:
df_shot.to_csv('data/shot.csv', index=False)

In [6]:
shot_type_dict = {}
for item in data_pbp['ShotType'].values:
    if not pd.isnull(item):
        if item not in shot_type_dict:
            shot_type_dict[item]=1
        else:
            shot_type_dict[item]+=1

In [7]:
shot_type_dict

{'2-pt jump shot': 51077,
 '2-pt layup': 55362,
 '3-pt jump shot': 78344,
 '2-pt hook shot': 5874,
 '2-pt dunk': 11740}